body
{
    background-image: url("https://th.bing.com/th/id/R.f03f0a40d814381b541066346a65f3c7?rik=LtHVChj2UYtuEA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-kQHp-QncOHk%2fTV8L3y8xLXI%2fAAAAAAAAAQU%2f22LlboonhIc%2fw1200-h630-p-k-no-nu%2fwallpaper-462280.jpg&ehk=Tig5GEN5TeHSNSEtXt7FbBlF6rCcUMpOBBe2wiysqZA%3d&risl=&pid=ImgRaw&r=0");
    font-family: 'Amatic SC', cursive;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
    font-size: 35px;
}

.heading button{
    float: right;
    border: 1px dotted white;
    font-size: 20px;
}

#play
{
    font-size: 25px;
    width: 8%;
}

canvas{
    border: 5px solid white;
}